[user]
  name = Udomomo
  email = udomomo@gmail.com

[core]
  editor = nvim

[ghq]
  root = ~/dotfiles # for the case when we clone dotfiles repo manually first
  root = ~/src

[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

[include]
  path = ~/.gitconfig-private
