[include]
  # Create .gitconfig.local on the home directory and add [user]
  path = .gitconfig.local

[ghq]
  root = ~/src

[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

